.image.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-preview {
    width: 13rem;
    height: 13rem;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-control p {
    margin-top: 10px;
    color: red;
}
